.recipe-list-enter {
  opacity: 0.01;
}

.recipe-list-enter.recipe-list-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.recipe-list-leave {
  opacity: 1;
}

.recipe-list-leave.recipe-list-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.recipe-list-appear {
  opacity: 0.01;
}

.recipe-list-appear.recipe-list-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
